* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #fde2e4, #bde0fe);
  text-align: center;
  color: #444;
}
.container {
  background: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 90%;
}
h1 {
  font-size: 2rem;
  color: #ff7096;
}
p {
  font-size: 1.2rem;
  margin: 15px 0;
}

.socials > a {
  color: #e27d92;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 30px;
}

.socials img {
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease;
}

.socials a:hover img {
  transform: scale(1.1);
}
